{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body_class %}signup-page{% endblock %}

{% block inner_content %}
<div class="container signup-page">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
   <h1 class="auth-title mb-4 text-center">{% trans "Sign Up" %}</h1>


      <p class="text-center">
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>

      <form id="signup_form" class="signup mt-4" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {# Non-field errors (CSRF / validation) #}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-black rounded-0">
            {% trans "Sign Up" %} &raquo;
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
