{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="my-5">FAQs</h1>
                {% if request.user.is_superuser %}
                    <a href="{% url 'faqs:add_faq' %}" class="btn btn-lg btn-primary my-3 mx-auto text-center">Add FAQ</a>

                {% endif %}
                <div class="my-5">
                    <div class="accordion" id="accordionfaqs">
                        {% for faq in faqs %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                                        {{ faq.question }}
                                    </button>
                                </h2>
                                <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionfaqs">
                                    <div class="accordion-body">
                                        {{ faq.answer }}
                                        {% if request.user.is_superuser %}
                                            <hr>
                                            <div class="accordion-footer">
                                                <a href="{% url 'update_faq' faq.id %}" class="btn btn-success">Update</button>
                                                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-faq-{{ faq.id }}">Delete</a>
                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="modal-delete-faq-{{ faq.id }}" tabindex="-1" aria-labelledby="modal-delete-faq-{{ faq.id }}-label" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="modal-delete-faq-{{ faq.id }}-label">Delete FAQ</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Are you sure you want to delete this FAQ?
                                                        <br>
                                                        <strong>{{ faq.question }}</strong>
                                                        <span class="text-danger">This is permanent and cannot be undone.</span>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                                        <a href="{% url 'delete_faq' faq.id %}" class="btn btn-success">Yes - Delete</a>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                        No FAQs found
                                    </button>
                                </h2>
                                <div id="collapse0" class="accordion-collapse collapse" data-bs-parent="#accordionfaqs">
                                    <div class="accordion-body"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}