<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <!-- All products -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'products:products_index' %}" class="dropdown-item"
           >All Products</a>
        <a href="{% url 'products:products_index' %}?sort=price&direction=asc" class="dropdown-item"
           >By Price</a>
        <a href="{% url 'products:products_index' %}?sort=rating&direction=desc" class="dropdown-item"
           >By Rating</a>
        <a href="{% url 'products:products_index' %}?sort=category&direction=asc" class="dropdown-item"
           >By Category</a>
      </div>
    </li>

    <!-- Categories shortcuts (static examples) -->
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories-link"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="categories-link">
        <a href="{% url 'products:products_index' %}?category=Cakes" class="dropdown-item"
           >Cakes</a>
        <a href="{% url 'products:products_index' %}?category=Snacks" class="dropdown-item"
           >Snacks</a>
        <a href="{% url 'products:products_index' %}?category=Drinks" class="dropdown-item"
           >Drinks</a>
      </div>
    </li>

    <!-- Optional static pages -->
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'newsletter' %}">Newsletter</a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link text-black" href="#">FAQ</a>
    </li>
  </ul>
</div>
