{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="container contact-page mb-5">
  <h1 class="mb-4">Contact</h1>

  <div class="row">
    <div class="col-12 col-lg-8">
      <form action="{% url 'contact:index' %}" method="post" class="mt-2">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Send</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <style>
    /* Push the page below the fixed header using the same trick as FAQ */
    .contact-page {
      padding-top: calc(var(--header-height, 100px) + 20px);
      scroll-margin-top: calc(var(--header-height, 100px) + 20px);
    }
  </style>
{% endblock %}
