name: Django Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      GITHUB_ACTIONS: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set environment variables for CI
        run: |
          echo "DJANGO_SECRET_KEY=testsecret" >> $GITHUB_ENV
          echo "DJANGO_DEBUG=0" >> $GITHUB_ENV

      # IMPORTANT: build static files to avoid manifest error
      - name: Collect static files
        run: |
          python manage.py collectstatic --noinput

      - name: Run Django tests
        run: python manage.py test
